@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800&family=Roboto&display=swap');

@font-face {
    font-family: bangla_ador;
    src: url('../fonts/bangla/Li\ Ador\ Noirrit\ Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
img{
    max-width: 100%;
    display: block;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
            Header Section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
header{
    background-color: #000;
    padding: 7px 0;
    margin-bottom: 10px;
}
.container{
    padding: 0 2%;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
           Top Header Bar
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.top_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile_app a{
    width: 20%;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-size: 15px;
    font-family: bangla_ador;
}
.mobile_app a:hover{
    color: #ff0000;
    transition: .4s;
}
.social_link{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social_link ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_link ul li{
    list-style: none;
    margin: 0 0 0 20px;
    font-size: 15px;
}
.social_link ul li a{
    display: block;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.social_link ul li a:hover{
    color: #ff0000;
    transition: .4s;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
            Header Bar Section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.header_items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}

/* logo */
.logo{
    width: 7%;
    min-height: 100px;
}
.logo a{
    cursor: pointer;
}
nav{
    width: 85%;
    background-color: #000;
    border-radius: 7px;
    white-space: nowrap;
}
nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    color: #fff;
    background-color: #000;
    list-style: none;
    margin: 0 15px;
    padding: 10px 7px;
    position: relative;
    font-weight: 500;
}
nav ul li a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

nav ul li ul{
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    z-index: 4;
}
nav ul li ul li{
    margin-bottom: 1.5px;
    border-radius: 5px;
    position: relative;
}
nav ul li:hover>ul{
    display: block;
}
nav ul li ul li ul{
    display: none;
    z-index: 5;
    position: absolute;
    top:0;
    left: 100%;
}

/* =-=-=--=-=--=-=-=-=-=--=-=
        Header Bottom
=-=-=-=--=-=-=-=--=-=-=-=---= */
.header_bottom_items{
    display: flex;
    justify-content: flex-end;
    margin-right: 3.5%;
    align-items: center;
}

/* search bar */
.search{
    width: 55%;
}
.search form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_bar{
    width: 95%;
}
.search_bar input{
    width: 100%;
    height: 40px;
    display: block;
    border: 1.5px solid #000;
    outline: 0;
    border-radius: 5px;
    padding: 10px;
    font-family: bangla_ador;
}
.search_bar input[type=text]{
    font-size: 15px;
}
.search_button{
    width: 5%;
    margin-left: 7px;
}
.search_button input{
    padding: 7.5px 20px;
    font-size: 15px;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    transition: 0.4s;
    font-weight: 500;
}
.search_button input:hover{
    color: #ff0000;
}

/* eComm Menu */
.ecomm_menu{
    width: 15%;
    float: right;
}
.ecomm_menu ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.ecomm_menu ul li{
    list-style: none;
    margin: 0 0 0 25px;
}
.ecomm_menu ul li a{
    cursor: pointer;
    font-size: 25px;
    color: #000;
}
.ecomm_menu ul li a:hover{
    color: #ff0000;
    transition: .4s;
}



/* =-=-=-=-=-=-==-=-=-=-=--=-=-=-=-=-=-=
         Main Body Of This Page
 =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
 .page_title h2{
    margin: 20px 0;
    text-align: center;
    font-family: bangla_ador;
    font-size: 30px;
    text-decoration: underline;
}

.courses_widget{
    display: flex;
    justify-content: space-between;
}
.featured_courses{
    width: 80%;
}
.featured_courses ul,
.batches ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.featured_courses ul li{
    width: 32%;
    list-style: none;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
}
.featured_courses ul li img,
.batches ul li img{
    border-radius: 3px;
    border: 0.3px solid rgba(0,0,0,0.2);
    margin-bottom: 10px;
}
.featured_courses ul li a,
.batches ul li a{
    text-decoration: none;
}
.featured_courses ul li h4,
.batches ul li h4{
    color: #000;
    font-size: 20px;
    display: block;
    font-family: bangla_ador;
    position: relative;
    overflow: hidden;
}
.featured_courses ul li h4 .add_cart,
.batches ul li h4 .add_cart{
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.2s;
}
.featured_courses ul li a:hover .add_cart,
.batches ul li a:hover .add_cart{
    left: 0;
    top:0;
}

/* Widgets */
.widgets{
    width: 20%;
    text-align: center;
    padding: 0 1%;
}
aside h3{
    font-size: 35px;
    color: #000;
}
.newletter{
    background-color: #938b8b;
    padding:5%;
    border-radius: 3px;
}
.newletter input{
    width: 100%;
    border-radius: 5px;
    border: 0;
    outline: 0;
    padding: 10px;
    margin-bottom: 7px;
    color: #fff;
}
.widgets form input[type=text],
.widgets form input[type=email]{
    font-size: 15px;
}
.widgets form input[type=submit]{
    background-color: #404344;
    color: #fff;
    cursor: pointer;
}

/* filter_price */
.filter_price{
    margin: 30px 0;
    text-align: left;
}
.filter_price h4{
    font-size: 18px;
    margin-bottom: 7px;
}
.filter_price form input{
    width: 100%;
}
.filter_price form input[type=submit]{
    background-color: #404344;
    border-radius: 3px;
    border: 0;
    padding: 10px 0;
    font-size: 15px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
                Title Images
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.title_image{
    width: 95%;
    margin: 30px auto 15px;
}
.title_image img{
    width: 100%;
    display: block;
    margin: auto;
    border: 2px solid #000;
    border-radius: 5px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
                Title Page Text
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.page_title_text{
    width: 95%;
    margin: auto;
}
.page_title_text p{
    text-align: justify;
    margin-bottom: 15px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
                Batch Title
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.batch_title{
    width: 50%;
    margin: 40px auto 30px;
    text-align: center;
    background-color:#E1EFFF;
    padding: 7px 50px;
    border:1px solid #000;
    border-radius: 5px;
}
.batch_title h2{
    font-family: bangla_ador;
    font-size: 30px;
    word-spacing: 5px;
}

/* =-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=
                Batches
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
.batches{
    width: 100%;

}
.batches ul li{
    width: 23.5%;
    list-style: none;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
            Enrollment
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.enrollment{
    height: auto;
    padding: 15px 30px;
    margin: 20px auto;
    background-color: #dfe6e9;
}
.enrollment_sequence{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.how_to_enroll,
.how_to_pay{
    width: 48%;

}
.how_to_enroll h2,
.how_to_pay h2{
    font-family: bangla_ador;
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
}

.how_to_enroll ul li,
.how_to_pay ul li{
    font-family: bangla_ador;
    margin-bottom: 10px;
    font-size: 20px;
}

/* =-=-=-=-=-=-=--=-=-=-=--==-=-=-=-=
    Enrollment Video Section
=-=-=-=-=--=-=-=--=-=-=-=-=-=-=-=-= */
.enrollment_video{
    padding: 1em;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;text-align: center;
    margin-bottom: 3em;
}
.first_video h2,
.second_video h2{
    width: 100%;
    font-family: bangla_ador;
    margin: 0 auto 20px;
    position: relative;
    cursor: pointer;
}
.first_video h2::after,
.second_video h2::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 105%;
    left: 8%;
    transition: 0.4s;
}
.first_video h2:hover:after,
.second_video h2:hover:after{
    width: 85%;
}
.first_video iframe,
.second_video iframe{
    border: 1px solid #000;
    border-radius: 7px;
}
/* =-=-=-=-=-=-=--=-=-=-=--==-=-=-=-=
        Footer Section
=-=-=-=-=--=-=-=--=-=-=-=-=-=-=-=-= */
footer{
    background-color: #dff9fb;
}
.footer_sections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 3em 1em;
    grid-gap: 1em;
}
.footer_policies ul li,
.footer_my_account ul li{
    list-style: none;
    margin: 5px 0;
}
.footer_policies ul li a,
.footer_my_account ul li a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    transition: 0.4s;
}
.footer_policies ul li a:hover,
.footer_my_account ul li a:hover{
    color: #ff0000;
}